<div class="d-flex bd-highlight">
  <div class="p-2 flex-fill bd-highlight">
    <button type="button" class="btn btn-warning">
      <i class="fa-solid fa-cloud-arrow-up"></i>
      &nbsp;Importer
    </button>
  </div>
  <div class="p-2 flex-fill bd-highlight">
    <button type="button" class="btn btn-success">
      <i class="fa-solid fa-cloud-arrow-down"></i>
      &nbsp;Exporter
    </button>
  </div>
  <div class="p-2 flex-fill bd-highlight">
    <button type="button" class="btn btn-primary" (click)="boutonNouveauClick()">
      <i class="fa-solid fa-plus"></i>
      &nbsp;Nouveau
    </button>
  </div>
</div>
