<div class="row mx-3 mt-3">
  <div class="row">
    <div class="col-md-8 p-0 mb-3">
      <h1>Mouvements du stock</h1>
    </div>
    <div class="col-md-4 text-end">
      <app-bouton-action></app-bouton-action>
    </div>
  </div>
  <div class="row mb-3">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <app-detail-mvt-stk-article style="width: 2000px;"></app-detail-mvt-stk-article>
            </button>
          </h2>
        <div id="collapseOne" class="accordion-collapse collapse show overflow-scroll" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="max-height: 300px;" >
          <div class="accordion-body" >
            <app-detail-mvt-stk></app-detail-mvt-stk>
            <app-detail-mvt-stk></app-detail-mvt-stk>
            <app-detail-mvt-stk></app-detail-mvt-stk>
            <app-detail-mvt-stk></app-detail-mvt-stk>
            <app-detail-mvt-stk></app-detail-mvt-stk>
            <app-detail-mvt-stk></app-detail-mvt-stk>
            <app-detail-mvt-stk></app-detail-mvt-stk>
            <app-detail-mvt-stk></app-detail-mvt-stk>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>

