<div class="col mb-3">
  <div class="col-md-12">
    <div class="col-md-12 mb-3 mt-3">
      <h2>
        Nouvelle Catégorie
      </h2>
    </div>
    <!-- Formulaire nouveau produit -->
    <div class="col-md-12">
      <form >
        <div class="col">
          <div class="row mb-3">
            <input type="text" class="form-control" placeholder="Code catégorie">
          </div>
          <div class="row mb-3">
            <input type="text" class="form-control" placeholder="description">
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <button class="btn btn-danger m-3">
      <i class="fa-solid fa-ban"></i>&nbsp;Annuler
    </button>
    <button class="btn btn-primary">
      <i class="fa-solid fa-save"></i>&nbsp;Enregistrer
    </button>
  </div>
</div>

