<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-1 border-right p-1 text-center mb-1 mt-1">
      <img src="/assets/product.png" width="100px" height="100px">
  </div>

  <!-- Details article -->
  <div class="col-md-4 border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11">Code Article</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11"> Designation </div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
        <div class="col-md-11">prix HT</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
        <div class="col-md-11">prix TTC</div>
      </div>
    </div>

  </div>

  <!--Details catégories-->
  <div class="col-md-3 border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-10 text-center">
          <div class="col-md-12">
            <h3>Stock actuel</h3>
          </div>
          <div class="col-md-12">
            <h3>139</h3>
          </div>
      </div>
    </div>
  </div>

   <!--Boutons d'action-->
  <div class="col-md-4 mb-1 mt-1">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-link">
        <h3><i class="fa-brands fa-stack-overflow"></i></h3>
          <h3>Correction de stock</h3>
        </button>
      </div>
    </div>
  </div>
</div>

