<div class="row mx-3 mt-3">
  <div class="row">
    <div class="col-md-8 p-0 mb-3">
      <h1>Liste des articles</h1>
    </div>
    <div class="col-md-4 text-end">
      <app-bouton-action></app-bouton-action>
    </div>
  </div>
  <div class="row pr-0">
   <app-detail-article></app-detail-article>
   <app-detail-article></app-detail-article>
   <app-detail-article></app-detail-article>
   <app-detail-article></app-detail-article>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
