<div class="row mt-3">
  <div class="row">
    <div class="col-md-8  p-0 mb-3">
      <h1>Liste des clients</h1>
    </div>
    <div class="col-md-2 text-right">
      <app-bouton-action></app-bouton-action>
    </div>
  </div>
  <div class="row mx-3">
   <app-detail-clt-frs></app-detail-clt-frs>
   <app-detail-clt-frs></app-detail-clt-frs>
   <app-detail-clt-frs></app-detail-clt-frs>
   <app-detail-clt-frs></app-detail-clt-frs>
   <app-detail-clt-frs></app-detail-clt-frs>
   <app-detail-clt-frs></app-detail-clt-frs>
  </div>
  <div class="row mb-3 ">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
